
@using CatForum.Models
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = null;
    if (Session["User"] != null)
    {
        user = (User)Session["User"];
    }
}

<div class="row">
    <div class="col-sm-12">
        <form method="post" action="" class="form-horizontal" style="padding: 20px;">
            <div class="form-group text-center">
                @{
                    var image = user.Image;
                }

                <div class="text-center">
                    @if (image != null)
            {
                        <img src="/File?Id=@image.Id" width="500" style="margin: 0 auto;" />
                    }
                </div>
                <input type="file" id="File" name="File">
            </div>
            <p class="help-block">Upload your profile image here!</p>
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" id="Username" name="Username" placeholder="Username" value="@user.Username">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="RePassword">Re-Password</label>
                <input type="password" class="form-control" id="RePassword" name="RePassword" placeholder="Re-Password">
            </div>
            <div class="form-group">
                <label for="Email">E-Mail</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="@user.Email">
            </div>
            <div class="form-group">
                <label for="DisplayName">Display Name:</label>
                <input type="text" class="form-control" id="DisplayName" name="DisplayName" placeholder="Display Name" value="@user.DisplayName">
            </div>
            <div class="form-group">
                <label>Gender</label>
                <select class="form-control" id="Gender" name="Gender">
                    <option></option>
                    <option value="1" @if (1 == user.Gender) { @Html.Raw("selected")    }>Male</option>
                    <option value="2" @if (2 == user.Gender) { @Html.Raw("selected")    }>Female</option>
                </select>
            </div>
            <div class="form-group">
                <label>Province</label>
                <select class="form-control" id="Province" name="Province">
                    @{
                        List<Province> provList = ViewBag.Provinces;
                        foreach (var obj in provList)
                        {
                            <option value="@obj.Id" @if (obj.Id == user.Address.ProvinceId) { @Html.Raw("selected")    }>@obj.Name</option>
                        }
                    }
                </select>
                <label>Amphur</label>
                <select class="form-control" id="Amphur" name="Amphur">
                    @{
                        List<Amphur> ampList = ViewBag.Amphurs;
                        foreach (var obj in ampList)
                        {
                            <option value="@obj.Id" @if (obj.Id == user.Address.AmphurId) { @Html.Raw("selected")    }>@obj.Name</option>
                        }
                    }
                </select>
                <label>Tumbon</label>
                <select class="form-control" id="Tumbon" name="Tumbon">
                    @{
                        List<Tumbon> tmbnList = ViewBag.Tumbons;
                        foreach (var obj in tmbnList)
                        {
                            <option value="@obj.Id" @if (obj.Id == user.Address.TumbonId) { @Html.Raw("selected")    }>@obj.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="alert alert-danger" role="alert">Please fill in your information!.</div>
            <div class="row">
                <div class="col-sm-6"><button type="submit" class="btn btn-block btn-success">Save</button></div>
                <div class="col-sm-6"><button type="submit" class="btn btn-block btn-warning">Reset</button></div>
            </div>
        </form>
    </div>
</div>

