@using CatForum.Models;
@using CatForum.Repositories;
@{
    ViewBag.Title = "Forums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forums</h2>
@{
    User profile = null;
    if (Session["User"] != null)
    {
        profile = (User)Session["User"];

        <div>
            <div><a href="/Forum/Create"><button class="ui inverted green button">Add New Post</button></a></div>
            <div>
                <!-- Nav tabs -->
                @*<ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All Forum</a></li>
                                    @{
                                        List<PostType> types = ViewBag.PostTypes;
                                        foreach (var type in types)
                                        {
                                            <li role="presentation">
                                                <a href="#type@{ @Html.Raw(type.Id) }" aria-controls="type@{ @Html.Raw(type.Id) }" role="tab" data-toggle="tab">@type.Name</a>
                                            </li>
                    }
                                    }
                                </ul>*@
                <div class="ui top attached tabular menu" style="margin-bottom: 10px;    overflow-x: auto;    overflow-y: hidden;">
                    <a class="item active" data-tab="home">All</a>
                    @{
                        List<PostType> types = ViewBag.PostTypes;
                        foreach (var type in types)
                        {
                            <a class="item" data-tab="type@{ @Html.Raw(type.Id) }">@type.Name</a>
    }
                    }
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="ui bottom attached tab active" data-tab="home" id="home">
                        @{
                            PostDetailRepository details = (PostDetailRepository)ViewBag.Details;
                            var all = details.SelectAll().Where(p => p.Post.UserId == profile.Id).Take(10);
                            foreach (var post in all)
                            {
                                var image = post.Post.Pictures.FirstOrDefault();
                                <div class="row" style="@if(post.Status == 2){ @Html.Raw("color: white; background-color: darkred;") }">
                                    <div class="col-xs-4">
                                        @if (image != null)
                                        {
                                            <img src="/File?Id=@image.Id" width="150" />
                                        }
                                    </div>
                                    <div class="col-xs-4">
                                        @post.Post.Name
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        <a href="/Forum/Edit?Id=@post.Id">
                                            <buttun class="btn btn-info">Edit</buttun>
                                        </a>
                                        <a href="/Forum/Delete?Id=@post.Id" onclick="return confirm('Are you sure to delete \' @post.Post.Name \' ');">
                                            <buttun class="btn btn-info">Delete</buttun>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    @{
                        foreach (var type in types)
                        {
                            <div role="tabpanel" class="ui bottom attached tab" data-tab="type@{ @Html.Raw(type.Id) }" id="type@{ @Html.Raw(type.Id) }">
                                @{
                                    var posts = details.SelectByOwnerOnType(profile.Id, type.Id);
                                    foreach (var post in posts)
                                    {
                                        var image = post.Post.Pictures.FirstOrDefault();
                                        <div class="row" style="@if(post.Status == 2){ @Html.Raw("color: white; background-color: darkred;") }">
                                            <div class="col-xs-4">
                                                @if (image != null)
                                                {
                                                    <img src="/File?Id=@image.Id" width="150" />
                                                }
                                            </div>
                                            <div class="col-xs-4">
                                                @post.Post.Name
                                            </div>
                                            <div class="col-xs-4 text-right">
                                                <a href="/Forum/Edit?Id=@post.Id">
                                                    <buttun class="btn btn-info">Edit</buttun>
                                                </a>
                                                <a href="/Forum/Delete?Id=@post.Id" onclick="return confirm('Are you sure to delete \' @post.Post.Name \' ');">
                                                    <buttun class="btn btn-info">Delete</buttun>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                                    }
                    }
                </div>

            </div>
        </div>
                                    }
}
@section scripts{
    <script>
        $('.menu .item').tab();
    </script>
}