@using CatForum.Repositories
@using CatForum.Models
<div class="">
    <div>
        <h3>News</h3>
        <ul class="bxslider">
            @{
                PostDetailRepository postsRep = new PostDetailRepository();
                var posts = postsRep.SelectByType(2);
                if (posts != null && posts.Count() > 0)
                {
                    foreach (var post in posts)
                    {
                        var image = post.Post.Pictures.FirstOrDefault();
                        <li>
                            <div class="row news-wrapper">
                                <div class="col-sm-12 text-center">
                                    <div class="text-center news-images">
                                        @if (image != null)
                                        {
                                            <img src="/File?Id=@image.Id" width="150" style="margin: 0 auto;" />
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-12 news-detail">
                                    <div class="news-detail_title">@post.Post.Name</div>
                                    <div class="news-detail_description">@post.Post.Content</div>
                                    <div class="news-detail_date">@post.Post.Updated.ToShortDateString()</div>
                                    <div class="news-detail_read"><a href="/Forum/Detail/@post.Id">Read More</a></div>
                                </div>
                                <hr />
                            </div>
                        </li>
                    }
                }
            }
            @*<li><img src="/images/pic1.jpg" width="150" /></li>*@
        </ul>
    </div>
    @{
        User user = null;
        if (Session["User"] != null)
        {
            user = (User)Session["User"];
            <div class="update_wrapper">
                <h3>Update</h3>
                <div>
                    @{
                        var adopts = user.Adopts.Where(a => a.Status != 1).OrderBy(a => a.Id).Take(10);
                        if (adopts != null && adopts.Count() > 0)
                        {
                            foreach (var adopt in adopts)
                            {
                                <div>
                                    @adopt.Post.Post.Name : Your adoption proposal has been @if (adopt.Status == 2)
                                    { <strong style="color: green;">@Html.Raw("accepted")</strong> }
                                    else
                                    { <strong style="color: red;">@Html.Raw("rejected")</strong>}
                                    <hr style="border-color: darkgray;" />
                                </div>
                            }
                        }
                    }
                    @*<li><img src="/images/pic1.jpg" width="150" /></li>*@
                </div>
            </div>
                        }
    }
</div>
