@using CatForum.Models
@{
    User profile = null;
    if (Session["User"] != null)
    {
        profile = (User)Session["User"];
        <div class="" style="background-color: white;">
            <div style="">
                @{
                    var image = profile.Image;
                }

                <div class="text-center profile-image">
                    @if (image != null)
                    {
                        <img src="/File?Id=@image.Id" style="margin: 0 auto;" />
                    }
                    else
                    {
                        <img src="/images/pic10.jpg" />
                    }
                </div>
            </div>
            <div style="padding: 20px;" class="profile-detail">
                <ul style="list-style: none;">
                    <li class="profile-detail_title">
                        <strong>
                            @*<strong>Display Name:</strong>*@
                            @if (profile != null)
                            {
                                if (profile.DisplayName != null)
                                {@Html.Raw(profile.DisplayName)}
                                else
                                {@Html.Raw("Pleaes add your display name.")}
                            }
                        </strong>
                    </li>
                    @*<li>
                            <strong>Gender:</strong>
                            @if (profile != null)
                            {
                                if (profile.Gender == 1)
                                {
                                    @Html.Raw("Male")
                                }
                                else
                                {
                                    @Html.Raw("Female")
                                }
                            }
                        </li>*@
                    @*<li><strong>Birth:</strong> 12/06/1993</li>*@
                    <li class="profile-detail_address">
                        From
                        <strong>
                            @profile.Address.Province.Name , @profile.Address.Amphur.Name , @profile.Address.Tumbon.Name
                        </strong>
                    </li>
                </ul>
            </div>
            <div>
                <div><a href="/User/Forums"><button class="btn btn-success btn-block" style="border-radius: 0;">My Forum</button></a></div>
                <div><a href="/User/Edit"><button class="btn btn-success btn-block" style="border-radius: 0;">Setting</button></a></div>
            </div>
        </div>
                    }
}
