@using CatForum.Repositories
@using CatForum.Models
@{
    ViewBag.Title = "Home Page";
    PostDetailRepository posts = ViewBag.PostRepo;
    var count = 1;
}
<div class="row">
    <div class="col-sm-12">
        <h3>SOS in your area.</h3>
        <div>
            @{
                var soses = posts.SelectDescDate(6, 0);
            }
            <ul class="bxslider">
                @if (soses != null)
                {
                    foreach (var sos in soses)
                    {
                        var image = sos.Post.Pictures.FirstOrDefault();
                        <li>
                            @if (image != null)
                            {
                                <img src="/File?Id=@image.Id" width="150" style="display: inline-block;" />
                            }
                            <a href="/Forum/Detail/@sos.Id">
                                @sos.Post.Name : @sos.Condition
                            </a>
                        </li>
                    }
                }

            </ul>
            <div class="text-right">
                <a href="/Forum/Search?Type=6">More!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#update" aria-controls="update" role="tab" data-toggle="tab">Update</a></li>
                <li role="presentation"><a href="#followed" aria-controls="followed" role="tab" data-toggle="tab">Forum Followed</a></li>
                <li role="presentation"><a href="#adoption" aria-controls="adoption" role="tab" data-toggle="tab">My Adoption</a></li>
                <li role="presentation"><a href="#lostAndFound" aria-controls="lostAndFound" role="tab" data-toggle="tab">Lost & Found</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="update">
                    <div>
                        <h3>Lost Cat</h3>
                        @{
                            var losts = posts.SelectDescDate(4, 0);
                        }
                        <ul class="bxslider">
                            @if (losts != null)
                            {
                                count = 1;
                                foreach (var obj in losts)
                                {
                                    var image = obj.Post.Pictures.FirstOrDefault();
                                    if (count == 1)
                                    { @Html.Raw("<li>")                             }
                                    if (image != null)
                                    {
                                        <a href="/Forum/Detail/@obj.Id">
                                            <img height="150" width="150" src="/File?Id=@image.Id" style="display: inline-block" />
                                        </a>
                                    }
                                    if (count == 4 || losts.Last().Equals(obj))
                                    {
                                        @Html.Raw("</li>")
                                        count = 1;
                                    }
                                    else
                                    {
                                        count++;
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div>
                        <h3>Find Owner</h3>
                        @{
                            var finds = posts.SelectDescDate(3, 0);
                        }
                        <ul class="bxslider">
                            @if (finds != null)
                            {
                                count = 1;
                                foreach (var obj in finds)
                                {
                                    var image = obj.Post.Pictures.FirstOrDefault();
                                    if (count == 1)
                                    { @Html.Raw("<li>") }
                                    if (image != null)
                                    {
                                        <a href="/Forum/Detail/@obj.Id">
                                            <img height="150" width="150" src="/File?Id=@image.Id" style="display: inline-block" />
                                        </a>
                                    }
                                    if (count == 4 || finds.Last().Equals(obj))
                                    {
                                        @Html.Raw("</li>")
                                        count = 1;
                                    }
                                    else
                                    {
                                        count++;
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div>
                        <h3>SOS</h3>
                        @*@{
                                var sos = posts.SelectDescDate(4, 0);
                            }*@
                        <ul class="bxslider">
                            @if (soses != null)
                            {
                                count = 1;
                                foreach (var obj in soses)
                                {
                                    var image = obj.Post.Pictures.FirstOrDefault();
                                    if (count == 1)
                                    { @Html.Raw("<li>") }
                                    if (image != null)
                                    {
                                        <a href="/Forum/Detail/@obj.Id">
                                            <img height="150" width="150" src="/File?Id=@image.Id" style="display: inline-block" />
                                        </a>
                                    }
                                    if (count == 4 || soses.Last().Equals(obj))
                                    {
                                        @Html.Raw("</li>")
                                        count = 1;
                                    }
                                    else
                                    {
                                        count++;
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div>
                        <h3>Adoption</h3>
                        @{
                            var adopts = posts.SelectDescDate(5, 0);
                        }
                        <ul class="bxslider">
                            @if (adopts != null)
                            {
                                count = 1;
                                foreach (var obj in adopts)
                                {
                                    var image = obj.Post.Pictures.FirstOrDefault();
                                    if (count == 1)
                                    { @Html.Raw("<li>") }
                                    if (image != null)
                                    {
                                        <a href="/Forum/Detail/@obj.Id">
                                            <img height="150" width="150" src="/File?Id=@image.Id" style="display: inline-block" />
                                        </a>
                                    }
                                    if (count == 4 || adopts.Last().Equals(obj))
                                    {
                                        @Html.Raw("</li>")
                                        count = 1;
                                    }
                                    else
                                    {
                                        count++;
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="followed">
                    @if (Session["User"] != null)
                    {
                        User user = (User)Session["User"];
                        var follow = user.Follows.Take(10).ToList();
                        foreach (var obj in follow)
                        {
                            <div class="row">
                                <div class="col-sm-3">
                                    @{
                                        var image = obj.Post.Post.Pictures.FirstOrDefault();
                                        if (image != null)
                                        {
                                            <a href="/Forum/Detail/@obj.PostId">
                                                <img height="150" width="150" src="/File?Id=@image.Id" style="display: inline-block" />
                                            </a>
                                        }
                                    }
                                </div>
                                <div class="col-sm-9">
                                    <div>Post: @obj.Post.Post.Name</div>
                                    <div>Have been updated on: @obj.Post.Post.Updated</div>
                                    <div><a href="/Forum/Detail/@obj.PostId">Check</a></div>
                                </div>
                            </div>
                                            }
                                        }
                </div>
                <div role="tabpanel" class="tab-pane" id="adoption">
                    @if (Session["User"] != null)
                    {
                        User user = (User)Session["User"];
                        var adoptsReq = (List<PostAdopt>)ViewBag.Adopts;
                        if (adoptsReq != null)
                        {
                            foreach (var obj in adoptsReq)
                            {
                                <div class="row">
                                    <div class="col-sm-4">
                                        @{
                                            var image = obj.Post.Post.Pictures.FirstOrDefault();
                                            if (image != null)
                                            {
                                                <a href="/Forum/Detail/@obj.PostId">
                                                    <img height="150" width="150" src="/File?Id=@image.Id" style="display: inline-block" />
                                                </a>
                                            }
                                        }
                                    </div>
                                    <div class="col-sm-8">
                                        <div>Cat Name: @obj.Post.Cat.Name</div>
                                        <div>Message: @obj.Detail</div>
                                        <div>Contact: @obj.Contact</div>
                                        <div><a href="/Forum/Accept/@obj.Id">Accecpt</a> | <a href="/Forum/Reject/@obj.Id">Reject</a></div>
                                    </div>
                                </div>
                                                    }
                                                }
                                            }
                </div>
                <div role="tabpanel" class="tab-pane" id="lostAndFound">
                    @if (Session["User"] != null)
                    {
                        List<PostDetail> matchs = ViewBag.Matchs;
                        if (matchs != null)
                        {
                            foreach (var obj in matchs)
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        @{
                                            var image = obj.Post.Pictures.FirstOrDefault();
                                            if (image != null)
                                            {
                                                <a href="/Forum/Detail/@obj.PostId">
                                                    <img height="150" width="150" src="/File?Id=@image.Id" style="display: inline-block" />
                                                </a>
                                            }
                                        }
                                    </div>
                                    <div class="col-sm-9">
                                        <div>Description: @obj.Post.Name</div>
                                        <div>Address: @obj.Address.Province.Name , @obj.Address.Amphur.Name , @obj.Address.Tumbon.Name</div>
                                        <div>Contact: @obj.Contact</div>
                                        <div><a href="/Forum/Detail/@obj.PostId">Check</a></div>
                                    </div>
                                </div>
                                                    }
                                                }
                                            }

                </div>
            </div>
        </div>
    </div>
</div>