@using CatForum.Models;
@{
    ViewBag.Title = "Create new Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding: 20px 0;">
    <div class="col-sm-12">
        <form method="POST" action="" enctype="multipart/form-data" id="Post">
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" class="form-control" id="PostTitle" name="PostTitle" placeholder="Title" required>
            </div>
            <div class="form-group">
                <label for="PostType">Post Type</label>
                <select class="form-control" id="PostType" name="PostType" required>
                    @{
                        List<PostType> types = ViewBag.Types;
                        foreach (var obj in types)
                        {
                            <option value="@obj.Id">@obj.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="File">File input</label>
                <input type="File" id="File" name="File" required>
                <p class="help-block">Please upload this post image.</p>
            </div>
            <div class="form-group">
                <label>Province</label>
                <select class="form-control" id="Province" name="Province" required>
                    @{
                        List<Province> provList = ViewBag.Provinces;
                        foreach (var obj in provList)
                        {
                            <option value="@obj.Id">@obj.Name</option>
                        }
                    }
                </select>
                <select class="form-control" id="Amphur" name="Amphur" required>
                    @{
                        List<Amphur> ampList = ViewBag.Amphurs;
                        foreach (var obj in ampList)
                        {
                            <option value="@obj.Id">@obj.Name</option>
                        }
                    }
                </select>
                <select class="form-control" id="Tumbon" name="Tumbon" required>
                    @{
                        List<Tumbon> tmbnList = ViewBag.Tumbons;
                        foreach (var obj in tmbnList)
                        {
                            <option value="@obj.Id">@obj.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="PostDetail">Post Detail</label>
                <textarea class="form-control" id="PostDetail" name="PostDetail" placeholder="Post Detail" required></textarea>
            </div>
            <div class="form-group">
                <label>Post Status</label>
                <select class="form-control" id="PostStatus" name="PostStatus" required>
                    <option value="1">Active</option>
                    <option value="2">Delete</option>
                </select>
            </div>
            <div class="form-group searchForAdopt">
                <label for="Condition">Condition</label>
                <textarea class="form-control" id="Condition" name="Condition" placeholder="Condition"></textarea>
            </div>
            <div class="form-group searchForAdopt">
                <label for="Location">Location</label>
                <input type="text" class="form-control" id="Location" name="Location" placeholder="Location">
            </div>
            <div class="form-group searchForAdopt">
                <label for="Contact">Contact</label>
                <input type="text" class="form-control" id="Contact" name="Contact" placeholder="Contact">
            </div>
            <div class="form-group">
                <label for="Fee">Fee</label>
                <input type="text" class="form-control" id="Fee" name="Fee" placeholder="Fee">
            </div>
            <div class="form-group">
                <label for="CatName">Cat Name</label>
                <input type="text" class="form-control" id="CatName" name="CatName" placeholder="Cat's name">
            </div>
            <div class="form-group">
                <label for="CatAge">Cat Age</label>
                <input type="text" class="form-control" id="CatAge" name="CatAge" placeholder="Cat's Age'">
            </div>
            <div class="form-group searchForAdopt">
                <label>Cat Life Stage</label>
                <select class="form-control" id="LifeStage" name="LifeStage">
                    @{
                        List<CatLifeStage> catlife = ViewBag.LifeStages;
                        foreach (var obj in catlife)
                        {
                            <option value="@obj.Id">@obj.Stage</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Cat Gender</label>
                <select class="form-control" id="Gender" name="Gender">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label>Cat Eyes Color</label>
                <select class="form-control" id="CatEyes" name="CatEyes">
                    @{
                        List<CatEyes> eyes = ViewBag.Eyes;
                        foreach (var obj in eyes)
                        {
                            <option value="@obj.Id">@obj.Color</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Cat Coat Color</label>
                <select class="form-control" id="CatCoat" name="CatCoat">
                    @{
                        List<CatCoat> coats = ViewBag.Coats;
                        foreach (var obj in coats)
                        {
                            <option value="@obj.Id">@obj.Color</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Cat Coat Pattern</label>
                <select class="form-control" id="CatPattern" name="CatPattern">
                    @{
                        List<CatPattern> patterns = ViewBag.Patterns;
                        foreach (var obj in patterns)
                        {
                            <option value="@obj.Id">@obj.Appearance</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Cat Tail</label>
                <select class="form-control" id="CatTail" name="CatTail">
                    @{
                        List<CatTail> tails = ViewBag.Tails;
                        foreach (var obj in tails)
                        {
                            <option value="@obj.Id">@obj.Appearance</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group searchForAdopt">
                <label>Cat Breed</label>
                <select class="form-control" id="CatBreed" name="CatBreed">
                    @{
                        List<CatBreed> breeds = ViewBag.Breeds;
                        foreach (var obj in breeds)
                        {
                            <option value="@obj.Id">@obj.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="cat-adoption" stylre="display: none;">
                <div class="form-group">
                    <label for="Username">Cat Food| Like</label>
                    <input type="text" class="form-control" id="FoodLike" name="FoodLike" placeholder="Favorite food">
                </div>
                <div class="form-group">
                    <label for="Username">Cat Food| Dislike</label>
                    <input type="text" class="form-control" id="FoodDislike" name="FoodDislike" placeholder="Hated food">
                </div>
                <div class="form-group">
                    <label for="Username">Cat Habit</label>
                    <input type="text" class="form-control" id="Habit" name="Habit" placeholder="What it usually do?">
                </div>
                <div class="form-group">
                    <label for="Username">Cat Hate</label>
                    <input type="text" class="form-control" id="Hate" name="Hate" placeholder="What is hate most?">
                </div>
                <div class="form-group">
                    <label for="Username">Cat Vaccine</label>
                    <input type="text" class="form-control" id="Vaccine" name="Vaccine" placeholder="List of Vaccines">
                </div>
            </div>
            <div class="form-group">
                <label for="Username">Cat Description</label>
                <input type="text" class="form-control" id="CatDescription" name="CatDescription" placeholder="Description">
            </div>

            <div class="form-group searchForAdopt">
                <label>Cat Status</label>
                <select class="form-control" id="CatStatus" name="CatStatus">
                    <option></option>
                    <option value="1" data-status="1" style="display: none;">Finding</option>
                    <option value="2" data-status="2" style="display: none;">Found</option>
                    <option value="3" data-status="3" style="display: none;">Search for Adoption</option>
                    <option value="4" data-status="4" style="display: none;">Adopted</option>
                    <option value="5" data-status="4" style="display: none;">Want to Adopt</option>
                </select>
            </div>
            <button type="submit" class="ui green button">Save</button><button type="submit" class="ui green button">Reset</button>
        </form>
    </div>
</div>
@section scripts{
    <script>
        $('#Post').validate({
            submitHandler: function (form) {
                form.submit();
            }
        });
        function hideCat() {
            $("#CatName").parent().hide();
            $("#CatAge").parent().hide();
            $("#LifeStage").parent().hide();
            $("#Gender").parent().hide();
            $("#CatEyes").parent().hide();
            $("#CatCoat").parent().hide();
            $("#CatPattern").parent().hide();
            $("#CatTail").parent().hide();
            $("#CatBreed").parent().hide();
            $("#FoodLike").parent().hide();
            $("#FoodDislike").parent().hide();
            $("#Habit").parent().hide();
            $("#Hate").parent().hide();
            $("#Vaccine").parent().hide();
            $("#CatDescription").parent().hide();
            $("#CatStatus").parent().hide();
        }
        hideCat();
        function hideCondition() {
            $("#Condition").parent().hide();
            //$("#Location").parent().hide();
            //$("#Contact").parent().hide();
            $("#Fee").parent().hide();
        }
        hideCondition();
        function hideStatus() {
            $("[data-status=1]").hide();
            $("[data-status=2]").hide();
        }
        hideStatus();
        function showCat() {
            $("#CatName").parent().show();
            $("#CatAge").parent().show();
            $("#LifeStage").parent().show();
            $("#Gender").parent().show();
            $("#CatEyes").parent().show();
            $("#CatCoat").parent().show();
            $("#CatPattern").parent().show();
            $("#CatTail").parent().show();
            $("#CatBreed").parent().show();
            $("#FoodLike").parent().show();
            $("#FoodDislike").parent().show();
            $("#Habit").parent().show();
            $("#Hate").parent().show();
            $("#Vaccine").parent().show();
            $("#CatDescription").parent().show();
            $("#CatStatus").parent().show();
        }
        function showCondition() {
            $("#Condition").parent().show();
            //$("#Location").parent().show();
            //$("#Contact").parent().show();
            $("#Fee").parent().show();
        }
        function showStatus(id) {
            $("[data-status=" + id + "]").show();
        }
        function showAdoption() {
            $(".cat-adoption").show();
        }
        function hideAdoption() {
            $(".cat-adoption").hide();
        }
        $("#PostType").on("change", function (e) {
            var value = $("#PostType").val();
            hideAdoption();
            hideCat(); hideCondition();
            if (value == 1 || value == 2) { hideCat(); hideCondition(); }
            else if (value == 3 || value == 4 || value == 5) { showCat(); showCondition(); }
            else if (value == 6) { hideCat(); showCondition(); }
            else if (value == 7) {
                $(".searchForAdopt").show();
            }

            if (value == 3) { hideStatus(); showStatus(2); }
            else if (value == 4) { hideStatus(); showStatus(1); }
            else if (value == 5) { hideStatus(); showStatus(3); }
            else if (value == 7) { hideStatus(); showStatus(4); }

            if (value == 5 || value == 7) {
                showAdoption();
            }
        });
    </script>
}
