@using CatForum.Models
@using CatForum.Repositories
@using CatForum.Components
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PostDetail post = ViewBag.Post;
    StatusHelper statusHelper = new StatusHelper();
}
<style>
    .detail-header {
        background-color: #149c82;
        color: white;
        padding: 5px;
    }
    .detail-content {
        border-bottom: solid 1px black;
        padding-left: 20px;
    }
</style>
<div class="row" style="background-color: white;">
    <div class="col-sm-12">
        <h3>@post.Type.Name</h3>
        <h1>@post.Post.Name</h1>
        @if (Session["User"] != null)
        {
            User user = (User)Session["User"];
            if (user.Id != post.Post.Owner.Id)
            {
                FollowRepository isFollow = new FollowRepository();
                if (isFollow.SearchByUserAndPost(user.Id, post.Id) == null)
                {
                    <div><a href="/Forum/Follow/@post.Id"><button class="btn btn-success">Follow</button></a></div>
                }
                else
                {
                    <div><a href="/Forum/Unfollow/@post.Id"><button class="btn btn-success">Un-Follow</button></a></div>
                }
            }
        }
    </div>
    <div class="col-sm-12">
        @{
            var image = post.Post.Pictures.FirstOrDefault();
        }

        <div class="text-center">
            @if (image != null)
            {
                <img src="/File?Id=@image.Id" width="500" style="margin: 0 auto;" />
            }
        </div>
        <div>
            <table style="width: 100%;">
                <tr>
                    <td class="detail-header">Address</td>
                    <td class="detail-content">@post.Address.Province.Name , @post.Address.Amphur.Name , @post.Address.Tumbon.Name</td>
                </tr>
                <tr>
                    <td class="detail-header">Detail</td>
                    <td class="detail-content">
                        <p class="help-block">@post.Post.Content</p>
                        @{
                            if (post.TypeId != 1 && post.TypeId != 2)
                            {
                                <p class="help-block">@post.Cat.Description</p>
                            }
                        }
                        @{
                            if (post.TypeId != 1 && post.TypeId != 2)
                            {
                                <div>
                                    <strong>@statusHelper.getCatStatus(post.Cat.Status)</strong>
                                    <ul>
                                        <li><strong>Breed:</strong> @post.Cat.Breed.Name</li>
                                        <li><strong>Eyes Color:</strong> @post.Cat.Eyes.Color</li>
                                        <li><strong>Coat Color:</strong> @post.Cat.Coat.Color</li>
                                        <li><strong>Coat Pattern:</strong> @post.Cat.Pattern.Appearance</li>
                                        <li><strong>Tail:</strong> @post.Cat.Tail.Appearance</li>
                                    </ul>
                                </div>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td class="detail-header">Condition</td>
                    <td class="detail-content">@post.Condition</td>
                </tr>
                <tr>
                    <td class="detail-header">Location</td>
                    <td class="detail-content">@post.Location</td>
                </tr>
                <tr>
                    <td class="detail-header">Contact</td>
                    <td class="detail-content">@post.Contact</td>
                </tr>
                <tr>
                    <td class="detail-header">Fee</td>
                    <td class="detail-content">@post.Fee</td>
                </tr>
            </table>
            @*<div><strong>Address:</strong>  @post.Address.Province.Name , @post.Address.Amphur.Name , @post.Address.Tumbon.Name</div>
                <div style="padding: 20px;">
                    <p class="help-block">@post.Post.Content</p>
                    @{
                        if (post.TypeId != 1 && post.TypeId != 2)
                        {
                            <p class="help-block">@post.Cat.Description</p>
                            <p class="help-block">@post.Condition</p>
                            <p><strong>@post.Location</strong></p>
                        }
                    }
                </div>
                @{
                    if (post.TypeId != 1 && post.TypeId != 2)
                    {
                        <div><strong>Contact: @post.Contact</strong> </div>
                        <div>
                            <strong>@statusHelper.getCatStatus(post.Cat.Status)</strong>
                            <ul>
                                <li><strong>Breed:</strong> @post.Cat.Breed.Name</li>
                                <li><strong>Eyes Color:</strong> @post.Cat.Eyes.Color</li>
                                <li><strong>Coat Color:</strong> @post.Cat.Coat.Color</li>
                                <li><strong>Coat Pattern:</strong> @post.Cat.Pattern.Appearance</li>
                                <li><strong>Tail:</strong> @post.Cat.Tail.Appearance</li>
                            </ul>
                        </div>
                    }
                }*@

        </div>
    </div>
    @if (Session["User"] != null)
    {
        User user = (User)Session["User"];
        if (user.Id != post.Post.Owner.Id)
        {
            <div>
                @if (post.TypeId == 5)
                {
                    <button class="btn btn-block btn-success" data-toggle="modal" data-target="#toggleAdoption">Request for Adoption</button>
                }
            </div>

            <div class="text-right">
                <button class="btn btn-success" data-toggle="modal" data-target="#toggleReport">Report</button>
            </div>
        }
    }
</div>

@* Adoption *@
<div class="modal fade" id="toggleAdoption" tabindex="-1" role="dialog" aria-labelledby="toggleAdoption">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Submit For Adoption!</h4>
            </div>
            <form method="post" action="/Forum/Adopt">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="DisplayName">Detail:</label>
                        <textarea class="form-control" name="Detail"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="DisplayName">Contact:</label>
                        <input class="form-control" name="Contact" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="Id" value="@post.Id" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Report *@
<div class="modal fade" id="toggleReport" tabindex="-1" role="dialog" aria-labelledby="toggleReport">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Report</h4>
            </div>
            <form method="post" action="/Forum/Report/@post.Id">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="DisplayName">Detail:</label>
                        <textarea class="form-control" name="Text"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>


