@using CatForum.Models;
@using CatForum.Repositories;
@using CatForum.Components;
@{
    ViewBag.Title = "LostCat";
    Layout = "~/Views/Shared/_Layout.cshtml";
    StatusHelper statusHelper = new StatusHelper();
    int id = 0;
}

<div class="row" style="padding: 20px 0;">
    <div class="col-sm-12">
        <div class="input-group">
            @*<input type="text" class="form-control" placeholder="Search for...">*@
            @*<span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>*@
        </div>
    </div>
</div>
<form>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Province</label>
                <select class="form-control" id="Province" name="Province">
                    <option value=""></option>
                    @{
                        List<Province> provList = ViewBag.Provinces;
                        if (ViewBag.Province != null)
                        {
                            id = ViewBag.Province;
                        }
                        foreach (var obj in provList)
                        {
                            <option value="@obj.Id" @if (obj.Id == id) { @Html.Raw("selected")           }>@obj.Name</option>
                        }
                    }
                </select>
                <label>Amphur</label>
                <select class="form-control" id="Amphur" name="Amphur">
                    <option value=""></option>
                    @{
                        List<Amphur> ampList = ViewBag.Amphurs;
                        id = 0;
                        if (ViewBag.Amphur != null)
                        {
                            id = ViewBag.Amphur;
                        }
                        foreach (var obj in ampList)
                        {
                            <option value="@obj.Id" @if (obj.Id == id) { @Html.Raw("selected")            }>@obj.Name</option>
                        }
                    }
                </select>
                <label>Tumbon</label>
                <select class="form-control" id="Tumbon" name="Tumbon">
                    <option value=""></option>
                    @{
                        List<Tumbon> tmbnList = ViewBag.Tumbons;
                        id = 0;
                        if (ViewBag.Tumbon != null)
                        {
                            id = ViewBag.Tumbon;
                        }
                        foreach (var obj in tmbnList)
                        {
                            <option value="@obj.Id" @if (obj.Id == id) { @Html.Raw("selected")            }>@obj.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row" @if (ViewBag.Type != 3 && ViewBag.Type != 4 && ViewBag.Type != 5 && ViewBag.Type != 7) { @Html.Raw("style=\" display: none; \"")  }>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Cat Breed</label>
                <select class="form-control" id="Breed" name="Breed">
                    <option value=""></option>
                    @{
                        List<CatBreed> breeds = ViewBag.Breeds;
                        id = 0;
                        if (ViewBag.Breed != null)
                        {
                            id = ViewBag.Breed;
                        }
                        foreach (var obj in breeds)
                        {
                            <option value="@obj.Id" @if (obj.Id == id) { @Html.Raw("selected")             }>@obj.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row" @if (ViewBag.Type != 3 && ViewBag.Type != 4) { @Html.Raw("style=\" display: none; \"")  }>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Cat Eyes Color</label>
                <select class="form-control" id="Eyes" name="Eyes">
                    <option value=""></option>
                    @{
                        List<CatEyes> eyes = ViewBag.Eyes;
                        id = 0;
                        if (ViewBag.Eye != null)
                        {
                            id = ViewBag.Eye;
                        }
                        foreach (var obj in eyes)
                        {
                            <option value="@obj.Id" @if (obj.Id == id) { @Html.Raw("selected")           }>@obj.Color</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Cat Coat Color</label>
                <select class="form-control" id="Coat" name="Coat">
                    <option value=""></option>
                    @{
                        List<CatCoat> coats = ViewBag.Coats;
                        id = 0;
                        if (ViewBag.Coat != null)
                        {
                            id = ViewBag.Coat;
                        }
                        foreach (var obj in coats)
                        {
                            <option value="@obj.Id" @if (obj.Id == id) { @Html.Raw("selected")           }>@obj.Color</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Cat Coat Pattern</label>
                <select class="form-control" id="Pattern" name="Pattern">
                    <option value=""></option>
                    @{
                        List<CatPattern> patterns = ViewBag.Patterns;
                        id = 0;
                        if (ViewBag.Pattern != null)
                        {
                            id = ViewBag.Pattern;
                        }
                        foreach (var obj in patterns)
                        {
                            <option value="@obj.Id" @if (obj.Id == id) { @Html.Raw("selected")           }>@obj.Appearance</option>
                        }
                    }
                </select>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Cat Tail</label>
                <select class="form-control" id="Tail" name="Tail">
                    <option value=""></option>
                    @{
                        List<CatTail> tails = ViewBag.Tails;
                        id = 0;
                        if (ViewBag.Tail != null)
                        {
                            id = ViewBag.Tail;
                        }
                        foreach (var obj in tails)
                        {
                            <option value="@obj.Id" @if (obj.Id == id) { @Html.Raw("selected")           }>@obj.Appearance</option>
                        }
                    }
                </select>

            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success btn-block">Search</button>
    </div>
    <input type="hidden" name="Type" value="@ViewBag.Type" />
    <input type="hidden" name="Offset" value="@ViewBag.Offset" />
</form>
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
        <div>

            <!-- Nav tabs -->
            @*<ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
                    <li role="presentation"><a href="#province" aria-controls="province" role="tab" data-toggle="tab">Your Province</a></li>
                    <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search Result</a></li>
                </ul>*@
            <div class="ui top attached tabular menu" style="margin-bottom: 10px;">
                <a class="item active" data-tab="all">All</a>
                <a class="item" data-tab="province">Your Province</a>
                <a class="item" data-tab="search">Search Result</a>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="ui bottom attached tab active" data-tab="all" id="all">
                    @{
                        List<PostDetail> all = ViewBag.all;
                        if (all == null || all.Count <= 0)
                        {
                            <h3 class="text-center">No result.</h3>
                        }
                        else
                        {
                            foreach (var post in all)
                            {
                                var image = post.Post.Pictures.FirstOrDefault();
                                <div class="row post">
                                    <div class="col-sm-3 text-center">
                                        <div>
                                            @if (image != null)
                                            {
                                                <img src="/File?Id=@image.Id" width="150" />
                                            }
                                        </div>
                                        <div>@statusHelper.getCatStatus(post.Cat.Status)</div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="header"><h4><strong> @post.Cat.Name </strong></h4> </div>
                                        <div>@post.Cat.Description</div>
                                        <div><strong>Posted By</strong> @post.Post.Owner.DisplayName | @post.Post.Updated.ToShortDateString()</div>
                                        <div><a href="/Forum/Detail/@post.Id">Read More</a></div>
                                    </div>
                                    <hr />
                                </div>
                            }
                        }
                    }

                    @*<div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic3.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic5.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>*@
                </div>
                <div role="tabpanel" class="ui bottom attached tab" data-tab="province" id="province">
                    @if (Session["User"] == null)
                    {
                        <h3 class="text-center">Please Login to see this section.</h3>
                    }
                    @{
                        List<PostDetail> byProvince = ViewBag.ByProvince;
                        if (byProvince == null || byProvince.Count <= 0)
                        {
                            <h3 class="text-center">No result.</h3>
                        }
                        else
                        {
                            foreach (var post in byProvince)
                            {
                                var image = post.Post.Pictures.FirstOrDefault();
                                <div class="row post">
                                    <div class="col-sm-3 text-center">
                                        <div>
                                            @if (image != null)
                                            {
                                                <img src="/File?Id=@image.Id" width="150" />
                                            }
                                        </div>
                                        <div>Status: @statusHelper.getCatStatus(post.Cat.Status)</div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="header"><h4><strong> @post.Cat.Name </strong></h4> </div>
                                        <div>@post.Cat.Description</div>
                                        <div><strong>Posted By</strong> @post.Post.Owner.DisplayName | @post.Post.Updated.ToShortDateString()</div>
                                        <div><a href="/Forum/Detail/@post.Id">Read More</a></div>
                                    </div>
                                    <hr />
                                </div>
                            }
                        }
                    }
                    @*<div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic6.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic7.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic2.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic3.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic5.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>*@
                </div>
                <div role="tabpanel" class="ui bottom attached tab" data-tab="search" id="search">
                    @{
                        List<PostDetail> search = ViewBag.SearchResult;
                        if (search == null || search.Count <= 0)
                        {
                            <h3 class="text-center">No result.</h3>
                        }
                        else
                        {
                            foreach (var post in search)
                            {
                                var image = post.Post.Pictures.FirstOrDefault();
                                <div class="row post">
                                    <div class="col-sm-3 text-center">
                                        <div>
                                            @if (image != null)
                                            {
                                                <img src="/File?Id=@image.Id" width="150" />
                                            }
                                        </div>
                                        <div>Status: @statusHelper.getCatStatus(post.Cat.Status)</div>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="header"><h4><strong> @post.Cat.Name </strong></h4> </div>
                                        <div>@post.Cat.Description</div>
                                        <div><strong>Posted By</strong> @post.Post.Owner.DisplayName | @post.Post.Updated.ToShortDateString()</div>
                                        <div><a href="/Forum/Detail/@post.Id">Read More</a></div>
                                    </div>
                                    <hr />
                                </div>
                            }
                        }
                    }
                    @*<div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic10.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-center">
                                <div><img height="100" width="100" src="~/Images/pic4.jpg" /></div>
                                <div>Status: Finding</div>
                            </div>
                            <div class="col-sm-9">
                                <div><strong>Name:</strong> Cat</div>
                                <div><strong>Description</strong> This is a cat</div>
                                <div><strong>Posted By</strong> Cat | 16/5/2016</div>
                                <div><a href="/Forum/Detail">Read More</a></div>
                            </div>
                            <hr />
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/Semantic/semantic.js"></script>
    <script>
        $('.menu .item').tab();
    </script>
}